.image {
    width: 100px;
    height: 100px;
}
.product-item-with-filter {
    width: 24%;
    float: left;
}

.product-item-without-filter {
    width: 20%;
    float: left;
}


@media only screen and (max-width : 620px ) {
    .product-item-with-filter .product-item-without-filter {
        width: 50%;
    }
}